html, body {
    height: 100%;
    margin: 0;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    min-height: 100%;
    flex-wrap: wrap;
    align-content: center;
}
/* above code creates the container for the calculator */

 #calculator { /*this code styles the calculator to be in line with the center,and sets attributes */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(166, 172, 172);
    min-width: 400px;
    max-width: 500px;
    min-height: 500px;
    border-radius: 15px;
    box-shadow: 5px 10px 5px #222121;
    padding: 15px;
    border: 5px black;
}


#num-display {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
    background-color:aliceblue;
    border: 5px black;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 35px;
}

/* styling for each row is roughly the same, some adjustments made to width
depending on the row */
.row1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 400px;
    justify-content: space-between;
}

#clear-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 180px;
  }

  #delete-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 180px;
  }

  .row2 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 400px;
    justify-content: space-evenly;
}

#seven-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #eight-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #nine-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #divide-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }


.row3 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 400px;
    justify-content: space-evenly;
}

#four-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #five-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #six-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #multiply-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

.row4 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 400px;
    justify-content: space-evenly;
}

#one-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #two-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #three-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #subtract-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

.row5 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 400px;
    justify-content: space-evenly;
}

#decimal-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #zero-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #equals-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }

  #add-but {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width: 50px;
  }